server:
  port: ${SERVER_PORT:10418}

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/nhnacademy-be12-trillion/config-repo
          default-label: main
          username: serrot24
          password: ${GHCR_PAT}
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_URL}